/* Info Section Starts */
.info-section {
    width: 1560px;
    height: 218px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    border-radius: 50px ;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px 0px #0000000D;
    padding: 0px 40px;
    margin-top: 130px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}


.icon{
    width: 42px;
    height: 42px;
    background-color: var(--primary-color);
    border-radius: 100%;
    margin-bottom: 20px;
}

.clock-icon{
    width: 20px;
    height: 20px;
    color: var(--background-color);
    padding-top: 10px;
}


.location-icon{
    width: 18px;
    height: 22px;
    color: var(--background-color);
    padding-top: 10px;
}


.phone-icon{
    width: 20.89px;
    height: 20.93px;
    color: var(--background-color);
    padding-top: 10px;
}

.info-text{
    text-align: center;
}

.info-text h5 {
    font-size: 18px;
    font-weight: 600;
   
}

.info-text p {
    font-size: 13px;
    font-weight: 400;
    margin-top: 9px;
}

.divider {
    width: 163px;
    transform: rotate(-90deg);
    top: 1098px;
    border: 1px solid #B6B6B6;
    left: 697px;
}


/* Info section ends*/


  
/* product secction starts */

.product-section{
    width: 1560px;
    height: 1287px;
    margin-top: 120px;

}

.product-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.product-title p{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    padding-bottom: 4px;

}

.product-title h3{
    font-weight: 700;
    font-size: 36px;
}

.product_cart{
    width: 485px;
    height: 485px;
    top: 1549px;
    border-radius: 35px ;
    background-color: var(--background-color);
    box-shadow: 0px 2px 30px 0px #0000001A;
}

.product-carts{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 80px;
    align-items: center;
}

.item-pic {
    width: 485px;
    height: 333px;
}

.product-title-rating{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.item-name{
    font-size: 26px;
    font-weight: 700;
}

.star-icon{
    width: 12px;
    height: 11px;
    color: var(--primary-color);
}

.rating-value{
    width: 20px;
    height: 16px;
    font-size: 13px;
    font-weight: 400;
}

.add{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.add-cart{
    width: 135px;
    height: 44px;
    padding: 14px 29px;
    gap: 10px;
    border-radius: 35px;
    background-color: var(--primary-color);
    font-size: 13px;
    font-weight: 400;
    color: var(--background-color);
    border: none;
    cursor: pointer;
}

.price{
    font-size: 18px;
    font-weight: 500;
}

.see-more-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.see-more{
    width: 295px;
    height: 76px;
    padding: 26px 39px;
    background-color: var(--primary-color);
    border-radius: 45px;
    color: var(--background-color);
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.arrow-icon{
    width: 4.98px;
    height: 8.44px;
    color: var(--background-color);  
    margin-left: 20px;
}

/* Product Section Ends */



/* Service Section Starts*/
.service-section{
    width: 1560px;
    height: 612px;
    margin-top: 120px;
}

.service-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.service-title p{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    padding-bottom: 4px;

}

.service-title h3{
    font-weight: 700;
    font-size: 36px;
}

.service-carts{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 60px;

}

.service-cart{
    width: 484px;
    height: 486px;
    border-radius: 35px;
    border: 1px solid #B6B6B6;
    gap: 42px;
}

.service-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}

.service-image{
    margin-top: 100px;
    width: 98px;
    height: 98px;
    border-radius: 100%;
    background-color: var(--design-color);
    margin-bottom: 50px;
}
.service-image img{
    width: 50px;
    height: 50px;
    padding: 20px 20px;
}

.about-service-desc{
    text-align: center;
}

.about-service-desc h4{
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 30px;
}

.about-service-desc p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 9px;
}
/* Service Section Ends */




/* Testimonial Section Starts */
.testimonial-section{
    width: 1561px;
    height: 571px;
    margin-top: 120px;
}

.testimonial-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.testimonial-title p{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    padding-bottom: 4px;

}

.testimonial-title h3{
    font-weight: 700;
    font-size: 36px;
}


.about-testimonial{
    display: flex;
    justify-content: space-between;
    gap: 42px;
    margin-top: 60px;
}
.testimonial-cart{
    width: 723px;
    height: 445px;
    border-radius: 35px;
    box-shadow: 0px 0px 50px 0px #0000001A;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name_and_position{
    display: flex;
    margin-top: 90px;
    gap: 20px;
}

.testi-cart-image img{
    width: 76px;
    height: 76px;
    border-radius: 100%;
}

.testi-position{
    text-align: center;
    padding-top: 20px;
}
.testi-position h5{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 3px;
}
.testi-position p{
    font-size: 13px;
    font-weight: 400;
}

.testi-description p{
    font-size: 18px;
    font-weight: 500;
    padding-top: 40px;
}

.testimonial-image img{
    width: 750px;
    height: 445px
}
/* Testimonial Section Ends */


/* Subscribe-Section Starts */
.subscribe-section{
    width: 1560px;
    height: 369px;
    border-radius: 50px;
    background-color: var(--text-color);
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

.subscribe-left-image img{
    width: 370px;
    height: 340px;
    padding-top: 10px;
}

.subscribe-right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.subscribe-title h3{
    padding-top: 60px;
    font-size: 36px;
    font-weight: 700;
    color: var(--background-color);
}

.subscribe-desc p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: var(--background-color);
}


.subscribe-form{
    width: 526px;
    height: 72px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 0;
    background-color: var(--background-color);
}

.email_input{
    flex: 1;
    height: 100%;
    padding: 0 15px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    outline: none;
    background: transparent;
}

::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #B6B6B6;
}

.subscribe-btn{
    width: 149px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    color: var(--background-color);
    text-transform: uppercase;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Subscribe Section Ends */


@media only screen and (min-width: 200px) and (max-width: 576px) {

    .service-section{
        flex-direction: column;
        gap: 20px;
        margin-top: 80px;
    }

    .testimonial-section{
        flex-direction: column;
        gap: 20px;
        padding: 15px;
    }
}

